[ req ]
prompt = no
distinguished_name = dn
req_extensions = req_ext
default_md = sha512

[ dn ]
countryName =
stateOrProvinceName =
localityName =
organizationName =
organizationalUnitName =
commonName =
emailAddress =

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 =
