[ req ]
prompt = no
distinguished_name = dn
req_extensions = req_ext
default_md = sha512
x509_extensions = v3_ca

[ v3_ca ]
keyUsage=critical, keyCertSign
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints=critical,CA:TRUE,pathlen:1
extendedKeyUsage=serverAuth

[ dn ]
countryName =
stateOrProvinceName =
localityName =
organizationName =
organizationalUnitName =
commonName =
emailAddress =

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 =
